# Compilation
*.o
*.so

# Temp files
.DS_Store
._*

# Validation cruft
slapsegiii/validation/bin
slapsegiii/validation/*.tar.gz
slapsegiii/validation/images/VERSION-*
slapsegiii/validation/images/*gray
slapsegiii/validation/validation_*
slapsegiii/validation/output
